ion-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* Garante que o conteúdo ocupe toda a altura da tela */
    padding-top: 50px; /* Dá um espaço no topo para o logo */
  }
  
  .login-container {
    width: 100%;
    max-width: 400px; /* Define a largura máxima do formulário */
    padding: 20px;
    background: rgba(244, 232, 213, 0.8); /* Fundo semitransparente para o formulário */
    border-radius: 10px; /* Borda arredondada */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    z-index: 1; /* Garante que o formulário fique acima do fundo */
  }
  
  ion-header {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    z-index: 2; /* Garante que o logo fique acima do formulário */
  }
  
  ion-title {
    font-weight: bold;
  }
  
  ion-item {
    margin-bottom: 10px;
  }
  
  ion-button {
    margin-top: 20px;
  }
  
  ion-img {
    width: 60px; /* Tamanho menor para o logo */
    height: 40px; /* Tamanho menor para o logo */
    opacity: 0.9; /* Deixa a imagem transparente */
  }
  